<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Resume</title>
</head>
<body>
    <h2>Upload Resume</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'data-list-create' %}">
        {% csrf_token %}

        <label for="name">Full Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label for="contact">Contact Number:</label><br>
        <input type="text" name="contact" maxlength="15" required><br><br>

        <label for="linkedin">LinkedIn URL:</label><br>
        <input type="url" name="linkedin"><br><br>

        <label for="github">GitHub URL:</label><br>
        <input type="url" name="github"><br><br>

        <label for="resume">Upload Resume (PDF):</label><br>
        <input type="file" name="resume" accept=".pdf"><br><br>

        <button type="submit">Upload</button>
    </form>
    <a href="{% url 'resume_info_page' %}">
        <button type="button">Check Details</button>
    </a>
    
</body>
</html>
